services:
  terraria-server:
    container_name: terraria
    image: brennanbeam/terraria-server:latest
    ports:
      -"7777:7777"
    volumes:
      -"$HOME/terraria/world:/root/.local/share/Terraria/Worlds"
      -"$HOME/terraria/config:/config"
      -"$HOME/terraria/logs:/terraria-server/logs"
    environment:
      - WORLD_FILENAME="Aurai.wld"
      - CONFIG_FILENAME="serverconfig.txt"
    restart: unless-stopped
    stdin_open: true # docker run -i
    tty: true # docker run -t
