services:
  terraria-server:
    container_name: terraria
    image: brennanbeam/terraria-server:latest
    ports:
      - "7777:7777"
    volumes:
      - "/home/brennan-beam/terraria/world:/root/.local/share/Terraria/Worlds"
      - "/home/brennan-beam/terraria/config:/config"
      - "/home/brennan-beam/terraria/logs:/terraria-server/logs"
    environment:
      - WORLD_FILENAME=Aurai.wld
      - CONFIG_FILENAME=serverconfig.txt
    restart: unless-stopped
    stdin_open: true # docker run -i
    tty: true # docker run -t
